.yeogurt-info
  h1 Fonseca Set List!
    p
    h3 Eres Mi Sueño
    #id.subo : sq1+6 : tom1+4 
    #id.subo : acc : keys
    
    pre.
      Donde me digas voy,Donde quieras estoy
      Eres la única que mueve mis sentidos
      Por eso te quiero
      Y eres mi adoración, Oye tu eres mi sol
      Cosita linda tu sonrisa me transforma
      Y me lleva al cielo
     
      Por tus ojos me muero
      Daría la vuelta al mundo entero
      Y eres la razón de mis cuentos
      Doy gracias al cielo
      Por poder quererte como yo te quiero
             
      Sueño, tu eres mi sueño
      Ay que nadie me levante
      Y entre tus sueños
      Yo quiero enamorarte
      No soy tu dueño
      Solo quiero a azarte
         
      --- INTER--- 
     
    #id.subo : keys+4 : sn+4
     
    pre.  
      Por tus ojos me muero
      Daría la vuelta al mundo entero
      Y eres la razón de mis cuentos
      Doy gracias al cielo
      Por poder quererte como yo te quiero 
    #id.ojo  :sqLoop HPF140
    pre.
      Es que yo por ti me muero
      Tu eres todo lo que quiero
      Y me levanto entre tus sueños
      Y me quedo en tus recuerdos
      Es que yo por ti me muero
      Tu eres todo lo que quiero
     
      Y me levanto entre tus sueños
      Y me quedo en tus recuerdos
     
      Sueño, tu eres mi sueño
      Ay que nadie me levante
      Y entre tus sueños
      Yo quiero enamorarte
      No soy tu dueño
      Solo quiero a azarte
     
      ----INTER 2-----
    #id.subo : seq1+4
    #id.subo : acc+4 : keys+4 : seqLoop HPF
    #id.subo : keys+4 : sn+4
     
    pre.     
      Sueño, tu eres mi sueño
      Ay que nadie me levante
      entre tus sueños
      Yo quiero enamorarte
      No  soy tu dueño
      Solo quiero a azarte
    
    p.slide *
    h3  Viene Subiendo 
    #id.ojo Gtrs tom piso   
    pre.    
      &quot;hoy me levanto&quot; &quot;aqui por dentro&quot;  
      &quot;lo que siento-&quot;  
      &quot;en mi coraz&oacute;n&quot;  
     
    #id.subo Acc   
    pre.
      &quot;quiero que lo bailes&quot;  
      &quot;Oye&quot;  
     
    #id.subo Conga Acc  
    pre.
      Entran  
      &quot;quiero que lo&quot;
    #id.ojo Preparo Delay   
    pre.  
      &quot;tu amor&quot; MONO  
      Hoy me levanto por la mañana 
      porque tu amor viene subiendo 
      aquí por dentro
      Y estando solo yo a ti te pienso 
      porque tu a mi 
      me has quitado todo lo que siento
      En mi corazón 
      viene subiendo tu amor 
      viene subiendo
      En mi corazón aquí por dentro 
      viene subiendo tu amor y así lo vas a sentir.
      Yo quiero que lo bailes negra 
      y es que yo siento que la noche va llegando
      Yo quiero que lo bailes negra 
      y tu y yo que nos vamos juntando 
      mírame bien que te estoy mirando 
      vamos a amanecer parrandeando 
      y no me importa con quién viniste 
      porque te irás junto a mi.
      Oye viene subiendo 
      En mi silencio yo siempre espero 
      a que me quieras 
      y me hagas parte de esta realidad
      Y en este amanecer 
      me alum as con tu querer 
      no me acostum o a estar lejos de ti
      Yo quiero que lo bailes negra.....
      Oye, siempre en la mañana 
      mira, me coge entuzao. 
      viene, me pide de todo 
      subiendo, woyoiyoi
      Oye, la gente no sabe 
      mira, que viene llegando 
      viene, un acordeonero 
      que viene subiendo y que viene tocando.

    p.slide *
    h3 Corazon
    #id.subo SQ 1 Keys 01 key 2 organo 3.gtr 45.loop ojo cajon
    #id.ojo Flat HPF :: subs+6 : seq+6 
    pre.     
      8 intro 
    #id.subo Djembe 
    #id.ojo Preparo Dly: 80bpm 88%
    pre.
      8 &quot;vo tengo -- morir&quot; // MONO 
     
    #id.subo Djembe
    pre.
      8 voz &quot;yo tengo --morir&quot;  MOnO
     
      8 &quot; -- hasta el fin&quot;
    #id.subo bgv+6  8 BgV &quot;que mas le -- hasta el fin&quot; 
    pre.    
      4 djembe
     
      8 verso &quot; morir..&quot;
     
      8 verso &quot; ... hasta el fin&quot; timbal
     
      8 coro
     
      8 coro
     
      8 inter ++eGtr
     
    #id.ojo Prep Delay: 92%
    pre.
      delay vox
      Yo tengo en el corazón 
      una razón pa vivir 
      y no hace falta decir 
      que no me quiero morir. 
      Donde me digas yo voy 
      donde tu quieras yo estoy 
      porque te quiero decir 
      lo que eres tu para mi. 
      Yo tengo en el corazón 
      una razñón pa vivir 
      y no hace falta decir 
     
      que no me quiero morir.
      
      Contigo yo sé vivir 
     
      no tengo por qué sufrir 
     
      y cuando no estes aquí 
     
      te buscaré yo hasta el fin (hasta el fin) 
     
      Qué más le pido al corazón 
     
      contigo pierdo la razón 
     
      y cuando ya no estes aquí 
     
      te buscaré solo hasta el fin (bis)
     
    p.slide *

    h3 Enredame
    #id.subo SQ 12 KEYS 3GTR 4
    #id.ojo HPF SQ Loop 140Hz   
    pre.
      Gtr  
    #id.subo ++aro  
    
    p.slide *

    h3 Como me Mira
    #id.ojo MUTE Seq   
     
    #id.subo ++aro  
    p.slide *

    h3 Perdon
    pre.
      Caja
      yo te quiero   
     
    p.slide *

    h3 Mercedes
    pre.       
      1 2 Organ 
     
      4(caja+guache='')
      5&gt;
     
        
     
    p.slide *

    h3  Cantor de Fonseca
    p.slide *

    h3 Paraiso 
    pre. 
      1key 2key 3Gtrs 4-5 Loop intro 
     
      Intro SPD eGtr  
     
      verso   
     
      &quot;acuerdate....porfavor&quot;  
     
      ++eGtr Solo  
     
      &quot;acuerdate...amargo sin tu[&quot;  
     
      #reina  
     
      Solo sax interludio 
     
      Reina
      Loop Mono en tresillos




    p.slide *

    h3 Confiesame
    #id.subo Loop Flat+6
    p.slide *
    
    h3 Prometo
    p.slide *

    h3 Desde que no estas
    p.slide *
    h3 Arroyito
    pre.    
      Preparar: bongo
     
    p.slide *
    h3 Te mando Flores
    p.slide *
    h3 Hace Tiempo
    p.slide *
    h3 Como Duele
    p.slide *
    
    h3 Perdon
    pre.    
      1 Key 2x 3x 4-5 Caja Guasa
      yo te quiero   
     
    p.slide *
    h3 Magangue
      
    #id.subo Intro Aro  
    pre. 
      &quot;Hay un baile..&quot; Accord  
     
      Acco  
     
    h3 Simulaci&oacute;n
    
    h3 ABC dario
    pre.     
      1 arp 2 organ 3 melo 4-5 loop 
      8 Intro Keys
      8 A 
      8 Keys
      8 A 
      8 B 
      8 B 
      8 A
      8 A
      8 B No drums 
      8 C &quot;Confieso&quot; 
      8 Key solo
      8 Loop Solo Keys piano
      8 loop Gitarras 
      8 B
     
    p.slide *

    h3 Beautiful Sunshine 
    p.slide *

    h3  Alma de Hierro 
    pre.     
      es mi consuelo =&gt; 
     
      alma de hierro.. +acc  
     
      tranquilo tiene precio..  
     
      alma de hierro  
     
      &quot;busco&quot; cortes  
     
      &quot;alma hierro&quot;  
     
      ++bongo /acc  
     
    p.slide *

    h3 Ilusion
    pre.     
      intro  
     
      ya quuiero verte  
     
      &quot;algo mejor&quot;  
     
      coros &quot; azos&quot;  
     
      --loop  
     
      &quot;cuando me mira&quot;  
     
      Inteludio de percusi+on
           
    p.slide *
  
    

