.yeogurt-info
  h1 Para ti
  #id.subo Acorddeon+GtAcu 
  pre.
    Que puedo hacer para tener tu amor
    Dame un espacio en tu corazón
    Te haz convertido en una adicción
    Todo el día solo pienso en voz

    Que puedo hacer para tenerte aquí
    Mi corazón se me quiere salir
    Hoy llevo varios días sin dormir
    Y solo quiero que estés junto a mi

    Son los detalles que te hacen feliz
    Y lo que hago es luchar por ti
    Tengo tanto y todo para ti
    Y con el alma te quiero decir

  #id.subo Drums
  pre.
    Para ti un millón de besos tengo para ti
    Una serenata en la noche de abril
    Un par de poemas que escribí anoche
    Pensando en ti
    Toda la semana solo pienso en ti
    Y si tu te alejas me voy a morir
    Quédate conmigo y duerme esta noche
    Juntico a mí

    Hay corazón como te quiero yo
  #id.subo dr.Aro
  pre.
    Dame una idea pa’ ganar tu amor
    Una emoción le gana a la razón
    Lo que no quiero es dejarte ir
    No hago otra cosa que pensar en ti

    Dame motivos para no sentir
    Si tú pudieras fijarte en mí
    Y por montones ver felicidad
    Ven conmigo no lo pienses mas

    Son los detalles que te hacen feliz
    Y lo que hago es luchar por ti
    Tengo tanto y todo para ti
    Y con el alma te quiero decir
  #id.subo Drum
  pre.
    Para ti un millón de besos tengo para ti
    Una serenata en la noche de abril
    Un par de poemas que escribí anoche
    Pensando en ti
    Toda la semana solo pienso en ti
    Y si tu te alejas me voy a morir
    Quédate conmigo y duerme esta noche
    Juntico a mí
  #id.subo Acord
  pre.
    Niña linda, niña hermosa
    Baila conmigo esta canción que te enamora
    Niña linda, mi rosa hermosa
    Cuando me besas me van pasando las horas
    De ti yo me enamoré, yo estoy adicto a tu piel
    Tus besos ya me gané
    Mi vida eres mi sueño
  #id.subo Drums
  pre.
    Para ti un millón de besos tengo para ti
    Una serenata en la noche de abril
    Un par de poemas que escribí anoche
    Pensando en ti
    Toda la semana solo pienso en ti
    Y si tu te alejas me voy a morir
    Quédate conmigo y duerme esta noche
  #id.suboToms
  pre.
    Pensando en ti, juntico a mí
    Cantándote una serenata en abril
  #id.suboToms
  pre.
    Pensando en ti, Loco por ti
    Escribiendo un par de poemas para ti
  
  h1 Te quiero amar
  pre.
    quiero llevarte a un lugar donde se vive el amor
    donde tu y yo nos regalemos calor
    yo solo quiero ser feliz
    junto a ti

    te mostrare mil colores
    que nuestro amor sea tan dulce como el algodon
    escribiremos un cuento y la princesa
    de este cuento seas tu mi amor
    que sea rojo intenso
    que nunca nunca sea blanco y negro
    mi amor

    te quiero amar que yo te tengo la receta
    para ser feliz
    mi corazon
    esta que rompe la camisa de tanto latir
    tu eres para mi
    la que me hace feliz
    tu mi rayo de sol
    contigo nada es gris

    quiero mostrarte una nube en forma de corazon
    cada mañana nunca exista el adios
    porque tu eres mi razon de vivir
    solo tu

    te mostrare mil colores
    que nuestro amor sea tan dulce como el algodon
    escribiremos un cuento y la princesa
    de este cuento seas tu mi amor
    que sea rojo intenso
    que nunca nunca sea blanco y negro
    mi amor

    te quiero amar que yo te tengo la receta
    para ser feliz
    mi corazon
    esta que rompe la camisa de tanto latir
    tu eres para mi
    la que me hace feliz
    tu mi rayo de sol
    contigo nada es gris

    te quiero amar que yo te tengo 
    la receta para ser feliz
    mucha atencion
    que lo que tengo es el remedio pa tu corazon
    tu eres para mi
    la que me hace feliz
    tu mi rayo de sol
    contigo nada es gris

    azul celeste es nuestro cielo
    cuando me miras no sabes lo que yo siento
    amor del bueno amor eterno
    lo dijo vives y lo digo en este verso
    a ti yo te voy a amar
    por toda la eternidad

    te quiero amar que yo te tengo la receta
    para ser feliz
    mi corazon
    esta que rompe la camisa de tanto latir
    tu eres para mi
    la que me hace feliz
    tu mi rayo de sol
    contigo nada es gris

    te quiero amar que yo te tengo la receta para ser feliz
    mucha atencion
    que lo que tengo es el remedio pa tu corazon
    tu eres para mi
    la que me hace feliz
    tu mi rayo de sol
    contigo nada es gris

  h1 Quisiera
  #id.subo Reggae
  #id.subo Acust  
  pre.
    
    Quisiera ser reloj y despertarte en las mañanas
    Quisiera ser el sueño de tu dulce madrugada
    Quisiera ser tun sombra y caminar siempre contigo
  #id.suboCoro
  pre.
    Quisiera ser tu ángel y protegerte del peligro

    Quisiera ser amigo de tu almohada y de tu cama
    Quisiera, nena linda que este amor por ti nunca, nunca se acabara
  #id.subo Drums
  pre.
    Quisiera ser pintor, pintarte en mi corazón
    Quisiera ser el póster de tu cantante famoso
    Quisiera ser Da Vinci y que tú seas mi Monalisa
    Quisiera ser el chiste que a ti siempre te de risa

    Quisiera ser ladrón, robarte tu corazón
    Quisiera ser la marca de tu ropa favorita
    Quisiera ser tu diario y gastarme mi salario
    Y en un viaje al espacio que ayer vi en una revista.
  #id.subo dr. Aro + AcGtr
  pre.
    Quisiera ser el centro de atención en tus reuniones#id.suboToms
    Llevarte a VIP, cantarte mis canciones
    Quisiera estar al lado de mi Dios y protegerte
    Quisiera estar contigo y llegar hasta la muerte...

    uhh

    Quisiera ser amigo de tu almohada y de tu cama
    Quisiera, nena linda, que este amor por ti nunca, nunca se acabara

    Quisiera ser pintor, pintarte en mi corazón
    Quisiera ser el póster de tu cantante famoso
    Quisiera ser Da Vinci y que tú seas mi Monalisa
    Quisiera ser el chiste que a ti siempre te de risa

    Quisiera ser ladrón, robarte tu corazón
    Quisiera ser la marca de tu ropa favorita
    Quisiera ser tu diario y gastarme mi salario
    Y en un viaje al espacio que ayer vi en una revista.
  #id.subo Toms
  #id.subo GtrAcu
  #id.subo BkVocals
  pre.
    Quisiera ser pintor, pintarte en mi corazón
    Quisiera ser el póster de tu cantante famoso
    Quisiera ser Da Vinci y que tú seas mi Monalisa
    Quisiera ser el chiste que a ti siempre te de risa
  #id.suboBkVocals
  pre.
    Quisiera ser ladrón, robarte tu corazón
    Quisiera ser la marca de tu ropa favorita
    Quisiera ser tu diario y gastarme mi salario
    Y en un viaje al espacio que ayer vi en una revista...

    Por siempre junto a ti, quisiera estar
    Por siempre junto a ti...

  h1 Devuélveme la vida
  pre.
    Que le pasó a tu corazón que no piensa más en mí
    Yo no entiendo fue mi error
    O es que hay alguien tras de ti
    Que le paso a tu corazón
    Si yo nunca te fui infiel
    Y en la cama te entregue
    tantas noches de placer

    Devuélveme la vida por favor
    Que yo me estoy muriendo por tu amor
    Devuélveme la dicha que perdí
    El día que te fuiste tú de mí
    Te fuiste tú de aquí….


    ¿Que te pasó si tú me amabas?
    Supuestamente me adorabas, porque razón tú te has marchado y me has dejado aquí llorando
    Ya me he bebido dos botellas pero tu amor está en mis venas
    A Dios le pido que tu vuelvas ,aunque no creo que suceda

  #id.subo Acus Lead
  pre.
    Que le pasó a tu corazón que no piensa más en mí
    Yo no entiendo fue mi error
    O es que hay alguien tras de ti
    Que le paso a tu corazón
    Si yo nunca te fui infiel
    Y en la cama te entregue
    tantas noches de placer

    Devuélveme la vida por favor
    Que yo me estoy muriendo por tu amor
    Devuélveme la dicha que perdí
    El día que te fuiste tú de mí
    Te fuiste tú de aquí…. 
  #id.subo Violin
  pre.
    No me hagas sufrir ………

    #id.subo SOLO peta

    Devuélveme la vida por favor
    Que yo me estoy muriendo por tu amor
    Devuélveme la dicha que perdí
    El día que te fuiste tú de mí
    Te fuiste tú de aquí………

    No me hagas sufrir

  h1 Cantinero
  #id.suboPiano
  #id.ojovoz1
  pre.
    quiero contarte amigo mio
    la trsitesa de mi corazon
    desahogarme con un trago quiero
    emborracharme y olvidar su amor
    son tantas cosas que han pasado amigo
    dime como hago para olvidar su cariño
    y depojarla de mi corazon
  #id.subo Drums 
  #id.ojo voz2
  pre.
    no te preocupes amigo mio
    ella no vale ni siquiera un trago
    yo tambien eh sufrido lo mismo
    y aqui me tienes estoy curado
    solo el tiempo cura estas penas
    penas amargas que a ti te atormentan
    y ahora brindemos, brindemos hogar la pena

  #id.ojo 1 + 2
  pre.
    lo siento amigo no puedo aceptarlo
    yo aun la amo no puedo negarlo
    pues lo tuyo ocurrio en el pasado
    y en mi presente la quiero a mi lado

  #id.subo UpBeat
  pre.
    hay cantinero trae una botella
    que lo que quiero es brindar por ella
    quiero embriagarme hasta que amanesca
    ahy dios mio como me cuesta
    trae uno doble que me la recuerde o un tequila
    que desparesca aquellas penas que me saben a ella

    lalararalala
    por ella

  #id.subo Gtr r[itmica
  pre.
    no te preocupes amigo mio
    ella no vale ni siquiera un trago
    pues sigue amando a quien no te ah amado
    yo soy tu amigo y estoy a tu lado
    solo el tiempo cura estas penas
    penas amargas que a ti te atormentar
    y ahora brindemos brindemos triunfar en la pena

    hay cantinero trae una botella
    que lo que quiero es brindar por ella
    quiero embriagarme hasta que amanesca
    ahy dios mio como me cuesta
    traeme uno doble que me la recuerde
    o un tequila que desparesca
    aqeullas penas que me saben a ella

    hay cantinero trae una botella
    que lo que quiero es brindar por ella
    quiero embriagarme hasta que amanesca
    ahy dios mio como me cuesta
    traeme uno doble que me la recuerde
    o un tequila que desparesca
    aqeullas penas que me saben a ella

  h1 Como duele el frio

  h1 Ya para que
  #id.subo Ranchera
  #id.subo AcGtr+Voz
  pre.
    
    Ya para que regresas si no te amo
    ya para que te vuelves a buscarme
    si ayer yo bote a la basura
    todos tus recuerdos y todos tus besos
    ya para que..

    Mira que ya no te quiero puedes
    puedes ser muy linda ya no
    me interesa lo que llevas
    puesto tu haz sido bandida con mis
    con mis sentimientos,
    mira que ya no me
    importa hoy salgo con otra
    que si me valora ella no me
    ignora esta pendiente
    de mi a toda hora

    ya para que tu vuelves a buscarme
    estoy muy ocupados muy
    enamorado ya para que
  #id.subo SOLO AcGtr2
  pre.
    Ya para que regresas si no te amo
    ya para que te vuelves a buscarme
    si ayer yo bote a la basura
    todos tus recuerdos y todos tus besos
    ya para que..

    Mira que ya no te quiero puedes
    puedes ser muy linda ya no
    me interesa lo que llevas
    puesto tu haz sido bandida con mis
    con mis sentimientos,
    mira que ya no me
    importa hoy salgo con otra
    que si me valora ella no me
    ignora esta pendiente
    de mi a toda hora


    ya para que te vuelves a buscarme
    si ayer yo bote a la basura
    todos tus recuerdos y todos tus besos
    ya para que..

    por que no te largas..vete pal^ carajo..
    ya estoy muy ocupado muy enamorado ya para que


  h1 La cura
  #id.subo Gtr Acu lead
  pre.
    I am the doctor sex
    Traigo la cura pal estress
    Lo que cura el mal de amores
    En mujeres depress
    Asi tristes
    En un dos por tres
    Medicina de la mia
    Bye bye, tu lo ves, oh yes
  #id.subo beat
  pre.
    Trata bien, es efectivo (pero adictivo)
    Soy el doctor
    Traigo la cura pal estress
    Lo que cura el mal de amores
    En mujeres depress
  #id.subo drums
  pre.
    [Pasabordo]
    Vine aplicar
    Medicina corporal
    Que es el antidoto
    Que alivia todo mal (que alivia todo mal)
    Traigo cariños
    Por si alguien
    Ah herido un corazon
    Si es mal de soledad
    O enfermedad de amor (la cura la tengo)
  #id.subo loop
  pre.
    (Curaa)
    Que es una cura natural (eh oh eh oh)
    (Curaa)
    Que es una cura natural (eh oh eh oh)
  #id.subo drums
  pre.
    [Dalmata]
    Traigo remedios de caricias (eh oh eh oh)
    Pildoras de ternuras (eh oh eh oh)
    Pero de felicidad
    Cura la tristezaa
    Heridas de amor
    La cura la tengo yoo..
  #id.subo kick
  pre.
    [Pasabordo]
    Tengo la formula
    La solucion
    Para sonreir y no no llorar
    Traigo el calmante
    Para los dolores
    Quien deja los mal de amores
  #id.subo drums    
  pre.
    Y vengo entregar
    Amor medicinal
    Para eliminar
    Todo daño emocional
    Todo mal estais.... sentimentaaal!...(curaaar)
  #id.subo loop
  pre.
    [Dalmata]
    Yeehh ehhh
    Que no me digan que no
    Si no se sienten mucho mejor
    Cuando las antiende
    El doctor sex
    Especialistas en mujeres tristes
    Los que les traigo es....
    Un remedio natural  
  #id.subo Drums
  pre.
    Que viene a sanar
    Corazones (curaar)
    Feminas, penas calmar
    Llegan enfermas de amor
    En busca de salud
    Calenturas de amor
    Gritando (uh uh)

    [Pasabordo]
    Vine aplicar
    Medicina corporal
    Que es el antidoto
    Que alivia todo mal (que alivia todo mal)
    Traigo cariños
    Por si alguien
    Ah herido un corazon
    Si es mal de soledad
    O enfermedad de amor (la cura la tengo)
  #id.subo loop
  pre.
    (Curaa)
    Que es una cura natural (eh oh eh oh)
    (Curaa)
    Que es una cura natural (eh oh eh oh)

    [Dalmata]
    Traigo remedios de caricias (eh oh eh oh)
    Pildoras de ternuras (eh oh eh oh)
    Pero de felicidad
    Cura la tristezaa
    Heridas de amor
    La cura la vengo yoo..
  #id.subo Lead Synth
  pre.
    (Pa-pa-pa-pasabordo!)
  #id.inter acus
  pre.
    [Dalmata]
    I am the doctor sex
    Traigo la cura pal estress
    Lo que cura el mal de amores
    En mujeres depress
    Asi tristes
    En un dos por tres
    Medicina de la mia
    Bye bye, tu lo ves, oh yes
    Trata bien, es efectivo (pero adictivo)
    Soy el doctor
    Traigo la cura pal estress
    Lo que cura el mal de amores
    En mujeres depress

    [Pasabordo]
    Vine aplicar
    Medicina corporal
    Que es el antidoto
    Que alivia todo mal (que alivia todo mal)
    Traigo cariños
    Por si alguien
    Ah herido un corazon
    Si es mal de soledad
    O enfermedad de amor
  #id.subo Loop
  pre.
    [Dalmata] [Pasabordo]
    La cura vengo yooh!
    La cura vengo yooh..!
    La cura vengo yooh..
    La cura vengo yooh..
    La cura vengo yooh!! (eh eh)
    Asi es dalmata con pasabordo
    Pa-pa-pa-pasabordo!
    De la luna mamasita
    Sabor de colombiaa. 


  h1 Brindo por ella
  h1 Calendario (piano)
  pre.
    Quien Lo Creyera
    Ya Llevamos 12 Meses
    Fue En Octubre En Una Disco
    Que Los Dos Nos Conocimos

    Y En Diciembre
    Nos Dimos El Primer Beso
    Celebrando El Año Nuevo
    Nos Juramos Amor Eterno
  #id.suboDrums
  pre.
    Y Como En Mayo
    Yo En Tu Casa Pedi La Mano
    Me Esperaban Tus Dos Padres
    Hasta El Perro De Tu Hermano

    Jamas Pense Que Me Pasara
    Jamas Pense Que Te Fijaras En Un Tipo Como Yo
    Que De Lunes A Domingo Se La Pasaa
    Pensando En Ti
  #id.suboUpbeat
  pre.
    Hay Tu No Sabes Lo Que Me Haces Sentir
    No Te Imaginas Lo Que Me Haces Vivir
    Tu Eres Mi 8 De Marzo Y Pronto Mi 13 De Mayo
    Tu Eres Mi San Valentin
    Mi Corazon Late Por Ti
    Tengo Tu Foto En Mi Armario
    Tu Llenas Mi Calendario
  #id.subo Dr.Aro
  pre.
    Sin Darme Cuenta
    Hoy Me Siento Enamorado
    Y Recuerdo Aquella Noche
    Cuando Me Acerque A Tu Mesa

    Y En La Barra
    Pedi Una Servilleta
    Y Te Hice Una Nota Que Decia
    Mi Princesa

    Y Ya Era Julio
    Bailamos Un Vallenato
    Y Nos Fuimos De Parranda
    Y Hasta Te Compre Un Anillo

    Jamas Pense Que Me Pasara
    Jamas Pense Que Te Fijaras En Un Tipo Como Yo
    Que De Lunes A Domingo Se La Pasaa
    Pensando En Ti

    <>

    Hay Tu No Sabes Lo Que Me Haces Sentir
    No Te Imaginas Lo Que Me Haces Vivir
    Tu Eres Mi 8 De Marzo Y Pronto Mi 13 De Mayo
    Tu Eres Mi San Valentin
    Mi Corazon Late Por Ti
    Tengo Tu Foto En Mi Armario
    Tu Llenas Mi Calendario

    En Enero Te Quiero
    En Febrero Te Pienso
    En Marzo Un Abrazo
    En Abril, No Se Ni Que Decir
    En Mayo Mi Virgencita
    En Junio Mi Mamasita
    Julio, Agosto, Septiembre Y Octubre Se Van A Mil
    En Noviembre Y Diciembre Agradezco A La Vida
    Que Sigas Junto A Mi

    Siempre Junto A Mii

    Hay Tu No Sabes Lo Que Me Haces Sentir
    No Te Imaginas Lo Que Me Haces Vivir
    Tu Eres Mi 8 De Marzo Y Pronto Mi 13 De Mayo
    Tu Eres Mi San Valentin
    Mi Corazon Late Por Ti
    Tengo Tu Foto En Mi Armario
    Tu Llenas Mi Calendario
  #id.subo Toms


  h1 Mis ojos lloran por ti
  h1 Besito (pop)
  pre.
    No Pretendo Olvidarte
    Ni Tampoco Dejarte
    Solo Quiero Que Entiendas
    Que En Tu Corazon
    Solo Quiero Quedarme
    No Prentendo Alejarme
    Si Tu Quieres Marcharte
    Fuiste Tu El Remedio
    De Todos Mis Males
  #id.suboPerc
  pre.
    Por Hay Me Han Contado
    Que Te Vieron Con Otro
    El Viernes Pasado
    Agarrao De La Mano
    No Pretendo Saberlo
    Pero Tiene Pinta Como De Abogado

    Y Con Un Alto Grado De Tocare La Mano
    Y Hasta Suelo Pesado

  #id.subo Drums
  pre.
    Y Si Te Vas Dejame Solo Un Besito
    Yo Lo Guardo En Frasquito
    Y Me Lo Tomo De A Poquito
    Y Si Te Vas Lleva Mi Foto En Tu Cartera
    Yo Me Meto En Tu Maleta
    Y Te Acompaño Donde Quieras

    (Mamacita)

    No Pretendo Que Pienses
    Que Yo Quiero Olvidarte
    Solo Quiero Que Entiedas
    Que Solo Tus Besos Me Llevan A Marte

    No Quiero Que Te Vallas
    Quedate Hasta Mañana
    Eres Tu La Princesa
    Que Ami Me Llena El Alma

    Lo Que Tu Ya No Sabes
    Es Que Nuestros Besos Son Mi Aspirina
    (Pal Dolor De Cabeza)
    Y Hace Un Par De Semanas
    Que Me Han Despedido De La Oficina
    Casala Sin Cortinas
    Cafe Sin Cafeina
    Y Este Amor No Termina
    Y Este Amor No Termina

  #id.subo Drums
  pre.
    Y Si Te Vas Dejame Solo Un Besito
    Yo Lo Guardo En Frasquito
    Y Me Lo Tomo De A Poquito
    Y Si Te Vas Lleva Mi Foto En Tu Cartera
    Yo Me Meto En Tu Maleta
    Y Te Acompaño Donde Quieras
    (Bis)

  #id.subo Drums Interlude
  pre.
    Y Si Te Vas Dejame Solo Un Te Quiero
    Para Dejarlo Guardadito En Mi Nochero
    Y Si Te Vas Mi Corazon
    No Puede Mas
    No Pude Mas

    Y Si Te Vas Dejame Solo Un Besito
    Yo Lo Guardo En Frasquito
    Y Me Lo Tomo De A Poquito
    Y Si Te Vas Lleva Mi Foto En Tu Cartera
    Yo Me Meto En Tu Maleta
    Y Te Acompaño Donde Quieras
    (Bis)

  h1 La cura (bis)
  h1 Devuélveme la vida (Bis)
  h1 Opcional (Mi primer Millon)

